# BMI Calculator
**Calculate bmi from CSV/Excel Data**

In [7]:
import pandas as pd
pd.__version__

'2.3.3'

### 1- Read Data

In [63]:
df = pd.read_csv('hw_200.csv', index_col=0)

In [64]:
type(df)

pandas.core.frame.DataFrame

In [65]:
df.head(3)  # first 3 rows

       Height(Inches)  Weight(Pounds)
Index
1               65.78          112.99
2               71.52          136.49
3               69.40          153.03

In [66]:
df.tail(3)

       Height(Inches)  Weight(Pounds)
Index
198             68.24          128.30
199             68.02          127.47
200             71.39          127.88

In [67]:
df.shape

(200, 2)

In [35]:
df.describe()

       Height(Inches)  Weight(Pounds)
count      200.000000      200.000000
mean        67.949800      127.221950
std          1.940363       11.960959
min         63.430000       97.900000
25%         66.522500      119.895000
50%         67.935000      127.875000
75%         69.202500      136.097500
max         73.900000      158.960000

In [36]:
df.dtypes

Height(Inches)    float64
Weight(Pounds)    float64
dtype: object

In [37]:
df.mean()

Height(Inches)     67.94980
Weight(Pounds)    127.22195
dtype: float64

In [38]:
df.std()

Height(Inches)     1.940363
Weight(Pounds)    11.960959
dtype: float64

### 2- Unit Conversion

In [41]:
heights_imperial = df['Height(Inches)']
# heights_imperial = df.iloc[:, 0]
weights_imperial = df['Weight(Pounds)']
# heights_imperial = df.iloc[:, 1]

In [50]:
type(heights_imperial)

pandas.core.series.Series

In [57]:
heights_metric = heights_imperial * 2.54
weights_metric = weights_imperial * 0.453592

In [58]:
weights_metric.describe()

count    200.000000
mean      57.706859
std        5.425395
min       44.406657
25%       54.383413
50%       58.003077
75%       61.732737
max       72.102984
Name: Weight(Pounds), dtype: float64

### 3- Calculate BMI

In [60]:
bmis = weights_metric / (heights_metric/100) ** 2

In [62]:
bmis.describe()

count    200.000000
mean      19.361702
std        1.522949
min       15.027224
25%       18.567434
50%       19.274513
75%       20.315646
max       22.898412
dtype: float64

### 4- Create the Result

### 5- Save the Result