# BMI Calculator
**Calculate bmi from CSV/Excel Data**

In [26]:
import os
import pandas as pd
pd.__version__

'2.3.3'

### 1- Read Data

In [23]:
df = pd.read_csv('data/hw_200.csv', index_col=0)

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.head(3)  # first 3 rows

       Height(Inches)  Weight(Pounds)
Index
1               65.78          112.99
2               71.52          136.49
3               69.40          153.03

In [5]:
df.tail(3)

       Height(Inches)  Weight(Pounds)
Index
198             68.24          128.30
199             68.02          127.47
200             71.39          127.88

In [6]:
df.shape

(200, 2)

In [7]:
df.describe()

       Height(Inches)  Weight(Pounds)
count      200.000000      200.000000
mean        67.949800      127.221950
std          1.940363       11.960959
min         63.430000       97.900000
25%         66.522500      119.895000
50%         67.935000      127.875000
75%         69.202500      136.097500
max         73.900000      158.960000

In [8]:
df.dtypes

Height(Inches)    float64
Weight(Pounds)    float64
dtype: object

In [9]:
df.mean()

Height(Inches)     67.94980
Weight(Pounds)    127.22195
dtype: float64

In [10]:
df.std()

Height(Inches)     1.940363
Weight(Pounds)    11.960959
dtype: float64

### 2- Unit Conversion

In [11]:
heights_imperial = df['Height(Inches)']
# heights_imperial = df.iloc[:, 0]
weights_imperial = df['Weight(Pounds)']
# heights_imperial = df.iloc[:, 1]

In [12]:
type(heights_imperial)

pandas.core.series.Series

In [13]:
heights_metric = heights_imperial * 2.54
weights_metric = weights_imperial * 0.453592

In [14]:
weights_metric.describe()

count    200.000000
mean      57.706859
std        5.425395
min       44.406657
25%       54.383413
50%       58.003077
75%       61.732737
max       72.102984
Name: Weight(Pounds), dtype: float64

### 3- Calculate BMI

In [15]:
bmis = weights_metric / (heights_metric/100) ** 2

In [16]:
bmis.describe()

count    200.000000
mean      19.361702
std        1.522949
min       15.027224
25%       18.567434
50%       19.274513
75%       20.315646
max       22.898412
dtype: float64

### 4- Create the Result

In [17]:
# 1- Create a dictionary
result_dict = {'Height': heights_metric.round(1),
               'Weight': weights_metric.round(1),
               'BMI': bmis.round(2)}

# 2- Convert dict to DataFrame
result_df = pd.DataFrame(result_dict)

In [18]:
result_df.sort_values(by='BMI', ascending=False,
                      inplace=True, ignore_index=True)
result_df.index = df.index

In [19]:
result_df.head()

       Height  Weight    BMI
Index
1       169.9    66.1  22.90
2       170.4    66.4  22.86
3       171.2    66.4  22.64
4       168.2    64.0  22.63
5       167.7    63.6  22.61

### 5- Save the Result

In [29]:
os.makedirs('results', exist_ok=True)

In [31]:
result_df.to_csv('results/result.csv')
result_df.to_html('results/result.html')
result_df.to_excel('results/result.xlsx')
result_df.to_json('results/result.json', indent=2)